body {
    font-family: 'Aptos', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#E8E8E8;
}
header , .footer {
    background-color: #AEC6CF;
    color: black;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content:right;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 1rem;
    
}
nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    
}

.container {
    display: flex;
    padding: 20px;
}

.container h2 {

    font-family: 'Fave Script Bold Pro', cursive;
    text-align: center;
}
.content {
    flex: 1;
    padding-right: 20px;
    font-size:large;
    background-color:#89AEB5 ;
    border-radius:10px;
    text-align: justify;
}

.centered-list {
    list-style-position: inside;
    display: inline-block;
    text-align: justify;
    
}
.images {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width:50%;
}
.images img {
    max: width 100%;;
    height: auto;
    margin-bottom: 10px;
    border-radius:10px;
}

