


body {
    font-family: 'Aptos', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#E8E8E8;
    color: black;
}

header {
    background-color:#AEC6CF;
    color: black;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
}
 
.container {
    display: flex;
    flex-direction:column; 
    box-sizing:border-box;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content:right;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
    margin-top: 60px;

}

.image-section {
    flex: none;
    text-align: center;
    margin-bottom: 2rem;
}

.image-section img {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
}

.content-section {
    flex: 1;
    padding: 2rem;
    background-color:#89AEB5 ; 
    border-radius: 20px;
    color:black; 
    font-family:cursive;
    font-size:medium;
    width: 60%;
    margin:0 auto;
    margin-bottom: 3rem;
    text-align: justify;
    text-align-last: center;
    
    

}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-top: 2rem;
    padding-top: 2rem;
    
}

video {
    display: block;
    width: 80%; 
    max-width: 600px; 
    height: auto; 
    border: 5px solid #ccc; 
    border-radius: 30px; 
}

.footer {
    background:  #AEC6CF;
    color:black;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
    font-size: 1em;
  }




